body{
	background-color: #ECE9D8;
	font-family: Tahoma, Geneva, sans-serif;
}

canvas{
	border: 1px solid black;
	background-color: white;
}

.chat-wrapper{
	height: 200px;
	overflow-y: scroll;
}

#curr-username-chat{
	font-family: 'Times New Roman', serif;
	color: red;
	font-size: 16px;
}

#last-username-chat{
	font-family: 'Times New Roman', serif;
	color: blue;
	font-size: 16px;
}

#chat-message{
	width: 255px;
	height: 38px;
	line-height: 38px;
}

#aslicon{
	height: 40px;
	margin: 0 2px 4px 0;
}

#chat-form{
	height: auto;
	width: 300px;
	line-height: 38px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#page-header{
	background-color: blue;
	color: white;
	border: 1px solid black;
	width: 110px;
	text-align: center;
}

#buddy-list{
	background-color: white;
	border: 1px solid black;
	margin-left: 10px;
}

.scrollbar-style::-webkit-scrollbar-track
{
/* 	border: 1px solid black; */	
	background-color: #F5F5F5;
}

.scrollbar-style::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.scrollbar-style::-webkit-scrollbar-thumb
{
	background-color: #000000;	
}

#color-picker{
	margin-right: 20px;
}

#thickness{
	width: 50px;
}

.user{
	list-style: none;
}

#send-message{
	background-image: url('http://i.imgur.com/w6XoqCc.gif');
	background-position: center;
	background-repeat: no-repeat;
	width: 40px;
	height: 38px;
	border: 0px;
}